/* SEARCHBOX COMP */
.SearchBox {
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.SearchBox input {
  border: 1.5px solid var(--main-color);
  border-right: none;
  padding: 10px 20px;
  flex: 1;

}

.SearchBox input[placeholder] {
  font-size: inherit;
}

.SearchBox input:focus, input:focus input[placeholder] {
  color: var(--main-color);
  font-weight: 600;
}

.SearchBox input:-internal-autofill-previewed, .SearchBox input:-internal-autofill-selected {
  background-color: rgba(159, 58, 58, .8);
  color: #fff;
  font-weight: 600;
}

.search-btn {
  /* position: absolute; */
  /* top: 50%;
  right: 0; */
  /* transform: translateY(-50%); */
  background: none;
  border: none;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.SearchBox .search-btn:hover {
  /* border: 1px solid rgba(7, 111, 170,0.5); */
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.SearchBox .search-btn:hover #lupita-svg {
  cursor: pointer;
  fill: #fff;
  opacity: 1;
}

.SearchBox #lupita-svg {
  padding: 10px;
  height: 50px;
  width: 80px;
  background-color: var(--main-color);
  fill: #ddd;
  transition: all 200ms ease;
  pointer-events: none;
  opacity: .9;
}

@media  (max-width: 500px) {
  .SearchBox input {
    padding: 10px;
  }
  .SearchBox #lupita-svg {
    height: 48px;
    width: auto;
  }
}
