

.CardsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  margin: 0 -100px;
  grid-gap: 20px;
}


.Card {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 30px;
  border: 2px solid var(--main-color);
  border-left: 1em solid var(--main-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 300ms ease;
  box-shadow:
  3px 3px 0px 0px rgba(255, 255, 255, 1),
  5px 5px 0px 0px rgba(159, 58, 58, .7),
  7px 7px 0px 0px rgba(255, 255, 255, 1),
  9px 9px 0px 0px rgba(159, 58, 58, .5)
  ;

}

.Card:hover .book-img{
  /* background-color: rgba(159, 58, 58, .1); */
  transform: translate(8px, -8px) rotate(-3deg);
  box-shadow: 2px 2px 5px 0 rgba(159, 58, 58, .7);
}


/* .Card::before {
  content: "";
  position: absolute;
  left:-10px;
  height: 100%;
  width: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  background: #000;
} */

.book-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.book-title {
  position: relative;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: var(--main-color);
}

.book-title::after {
  content: "";
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  transform: translateX(50%);
  border-bottom: 4px solid rgba(159, 58, 58, .8);
}

.book-info {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.book-img {
  padding: 10px;
  margin: 10px 0;
  max-width: 100%;
  align-self: flex-start;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,.3);
  transform: perspective(80px) rotateY(-3deg);
  border-radius: 5px;
  transition: all 100ms ease-in-out;
  transform-origin: center center;
}



.book-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  flex: 1;
}

.book-subtext {
  margin: 0;
  font-weight: 400;
  padding: 10px;
}

.book-subtext span {
  font-weight: bold;
}

.book-desc {
  padding: 10px;
}


.expanded {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  display: inline-block;
  padding: 5px 10px;
  font-size: .9em;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  margin: 10px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  border: 2px solid var(--main-color);
  color: rgba(159, 58, 58,1);
  transition: all 300ms ease;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color:#fff;
  /* transform: rotate(360deg); */
  border-radius: 0px;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {

  .CardsList {
    display: block;
  }

  .book-info {
    flex-direction: column;
  }

  .book-title {
    margin-top: 10px;
  }

  .link {
    max-width: 100%;
    align-self: center;
  }

  .book-img {
    padding: 10px;
  }

  .book-img:hover {
    transform: rotate(0deg);
  }

  .book-desc {
  }

  .categorie {

  }
}

@media (max-width: 1400px) {
  .CardsList {
    margin: 0;
  }
}
