.Card {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 10px -10px rgba(159, 58, 58, 1);
  border-radius: 10px;
  margin-top: 20px;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.book-title {
  margin: 10px;
}

.book-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-img {
  padding: 10px;
  /* background: #999; */
  align-self: flex-start;
}

.book-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  align-self: stretch;
}

.book-subtext {
  margin: 0;
}

.book-desc {
  flex: 1;
}

@media (max-width: 600px) {
  .book-info {
    display: block;
  }

  .book-img {
    max-width: 100%;
  }

  .book-more {
  }
}
