.Loader {

}

.shelf {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  margin-top: 40px;
}

.shelf::after {
  content: "";
  position: absolute;
  width: 60vmin;
  bottom: 0;
  border-bottom: 6px solid rgba(159, 58, 58, .8);
}

.book {
  position: relative;
  list-style-type: none;
  background-color: #fff;
  height: 60px;
  width: 25px;
  margin: 0 1px 4px;
  padding: 0;
  border-radius: 2px;
  border: 2px solid var(--main-color);
  overflow: hidden;
  transform-origin: bottom left;
  transition: transform 300ms ease;
}

.book::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 2px solid var(--main-color);
}

.book::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.one {
  width: 20px;
}

.one::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border: 2px solid var(--main-color);

}

.two {
  height: 70px;
}
.two::before {
  border: none;
}
.two::after {
  border: 6px solid var(--main-color);
}

.three {
  height: 72px;
  width: 22px;
}
.three::before {
  top: 20%
}
.three::after {
  bottom: 65%;
  border: 2px solid var(--main-color);
}

.four {
  height: 78px;
}
.four::after {
  border: 2px solid #fff;
}


.five {
  width: 20px;
}
.five::before {
  top:50%;
  padding: 15px;
  border: 6px solid var(--main-color);
}



.book:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.book:nth-child(3) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.book:nth-child(4) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.book:nth-child(5) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}


/* animation */

.searching {
  animation: bounce 1s ease-in-out infinite;
}
.stopped {
  transform: translateY(0px);
}

/* keyframes */

@keyframes bounce {
  0%, 75%, 100% {
    transform: translateY(0px)
  }
  25% {
    transform: translateY(-30px)
  }
}
