@import "./comps/nav/Nav.css";
@import './comps/searchbox/SearchBox.css';

*, *::after, *::before {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
}

.App-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.App-header h1 {
  margin: 0;
}


.Default {
  text-align: center;
}
